#app {
    display: flex;
    height: 100vh; /* To make the app container full height */
}

.pane {
    flex: 1;
    width: 50%;
    height: 100%;
}

#left-pane {
    display: flex;
    justify-content: center; /* Center the content horizontally */
}

#container {
    min-width: 300px; /* Set minimum width as needed */
    width: 100%; /* Allows it to expand */
}
